/*Reseña*/

.reseñaContainer {
    position: center;
    margin: 10px 20px;
    text-align: center;

    &:hover {
    transform: scale(1.1);
    }
}

.reseñatitle {
    font-size: 20px;
    font-family: $font-family-2;
    color: #ffc107;
    background-color: rgb(246, 247, 232);   
    text-align: center;
    margin-bottom: 10px;
}

.reseñaItems {
    position: center;
    margin: 30px 20px;
}

.reseñaItems:hover {
    transform: scale(1.1);
}