/*Fonts*/

$font-family-1: Georgia, 'Times New Roman', Times, serif;

$font-family-2: 'Roboto', sans-serif;

/*Colores*/

$listaColor: rgb(79, 4, 1);

$button-color: #ed9876;

/*Margin*/

$margin-top-footer: 20px;